@model IEnumerable<Hairday.Models.Horario_Disponivel>

@if (!Model.Any())
{
    <p>Nenhum horário disponível para esta data.</p>
}
else
{
    <form id="formHorarios">
        <div class="row">
            @foreach (var horario in Model.OrderBy(h => h.hora))
            {
                var horaFormatada = horario.hora.ToString(@"hh\:mm");
                <div class="col-md-2 mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="horarioSelecionado" id="horario_@horaFormatada" value="@horaFormatada">
                        <label class="form-check-label" for="horario_@horaFormatada">
                            @horaFormatada
                        </label>
                    </div>
                </div>
            }
        </div>
    </form>
}
