@model IEnumerable<Hairday.Models.Barbearia>

@{
    ViewData["Title"] = "FiltrarPorSobrancelha";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h1>Barbearias que ofereçem o servico de Sobrancelha</h1>


@if (Model != null && Model.Any())
{
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var barbearia in Model)
        {
            <div class="col">
                <div class="card h-100 border border-dark shadow-lg rounded" style="max-width: 280px; margin: 0 auto;">
                    <div class="text-center mt-3">
                        <img src="~/Assets/ilustradorCard.png" class="rounded-circle" alt="Calendário" width="80">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">@barbearia.nome</h5>
                        <p class="card-text text-center"><strong>Horário:</strong> 17:00 - 17:30 Seg</p>
                        <p><strong>Endereço:</strong> @barbearia.cidade</p>
                        <p><strong>Telefone:</strong> @barbearia.telefone</p>
                        <p><strong>Nome do Barbeiro:</strong> @barbearia.barbeiros</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <a asp-controller="EscolhaServico"
                           asp-action="Detalhes"
                           asp-route-cnpj=@barbearia.CNPJ_barbearia class="btn btn-dark w-50 me-1 shadow">
                            Ver Barbearia
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else if (Model != null)
{
    <div class="alert alert-warning mt-4">
        Nenhuma barbearia encontrada.
    </div>
}
