<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hairday</title>
    <link rel="stylesheet" href="~/css/cabecalhoBarbeiro.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styleAgendarHorario.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hairday.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body>
    <header class="header-black">
        @using Microsoft.AspNetCore.Http
        @{
            var tipoUsuario = Context.Session.GetString("tipo");
        }

        <div class="img-logo">
            <img class="logo-img" src="~/img/logo.png">
        </div>

        <nav class="nav-links">
            <div class="nav-link">
                <a asp-controller="Home" asp-action="Index">Homepage</a>
            </div>
            <div class="nav-link">
                <a asp-controller="Home" asp-action="FiltrarPorCabelo">Cabelo</a>
            </div>
            <div class="nav-link">
                <a asp-controller="Home" asp-action="FiltrarPorBarba">Barba</a>
            </div>
            <div class="nav-link">
                <a asp-controller="Home" asp-action="FiltrarPorSpa">SPA</a>
            </div>
            <div class="nav-link">
                <a asp-controller="Home" asp-action="FiltrarPorSobrancelha">Sobrancelha</a>
            </div>
            <div class="nav-link">
                <a asp-controller="Home" asp-action="FiltrarPorMassagem">Massagem</a>
            </div>
            @if (tipoUsuario == "cliente")
            {
                <div class="nav-link">
                    <a href="@Url.Action("MeusAgendamentos", "AgendamentosCliente")">Meus Agendamentos</a>
                </div>
            }
        </nav>
        <div class="login-link">
            <a href="@Url.Action("Login", "Account")">Login</a>
        </div>
    </header>

    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>